* { 
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
 }

html, body { 
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
 }

.titulo {color: rgb(3, 123, 197); margin-top: 35px; text-align: center; font-size: 55px; }
#tit { 
    color: black;
}
#sad { color: rgb(26, 62, 116); margin-top: 35px; text-align: center; font-size: 55px; }
#fail { background-color: lightslategray; }

img { transition-duration: .5s; }
img:hover { transform: rotate(-3deg) scale(1.2); }

.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}

footer { background-color: rgb(42, 145, 93); height: 25px;}

table, tr, th, td {border: 1px solid black;}
#bg {
    background-image: url("..//img/pexels-photo-479450.jpeg");

    height: 70%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 17px;
}

.img-fluid{max-width:100%;height:auto; max-height: 250px; margin-top: 0px;}