html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family:  'Montserrat', sans-serif;
    box-sizing: border-box;
}

#cards {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card {
    box-shadow: 0px 0px 0px 0px white;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0px 0px 25px 0.5px black;
    transition: box-shadow 0.3s;
}